/* flexbox */


    .flexy {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        column-gap: 40px;
        margin: 50px;
    }

      @media screen and (max-width: 1100px) {
        .flexy{
            height:100%;
}
      }

    @media screen and (max-width: 900px) {
        .flexy{
            flex-direction: column;
            flex-wrap:wrap;
            height:fit-content;
}
      }


/* navigation */
    #rottenpotatoes {
        font-family: diazo-mvb-ex-cond, sans-serif;
        font-size: 40px;
    }
    
    .nav {
        width: 100%;
        height: 100px;
        position: fixed;
        line-height: 100px;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
        z-index: 1;
    }

    .nav div.logo {
        float: left;
        width: auto;
        height: auto;
        padding-left: 3rem;
    }

    .nav div.logo a {
        text-decoration: none;
        color: #fff;
        font-size: 2.5rem;
    }

    .nav div.main_list {
        height: 65px;
        float: right;
    }

    .nav div.main_list ul {
        width: 100%;
        height: 65px;
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .nav div.main_list ul li {
        width: auto;
        height: 65px;
        padding: 0;
        padding-right: 3rem;
    }

    .nav div.main_list ul li a {
        text-decoration: none;
        color: #fff;
        line-height: 65px;
        font-size: 2.4rem;
    }

    .nav div.main_list ul li a:active {
        text-decoration: underline;
        color:#342D29;
    }

    .navTrigger {
        display: none;
    }

/* end navigation */

/* hero image */
    .home {
        width: 100%;
        height: 736px;
        left: 171px;
        top: 311px;
        display: flex;
        background-image: url(https://images.unsplash.com/photo-1416879595882-3373a0480b5b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
        background-position: center;
        background-size:cover;
        z-index: -1;
    }


    .home1{
        position: relative;
        width: 404px;
        height: 146px;
        left: 171px;
        top: 311px;
        font-family: neusa-next-std, sans-serif;
        font-style: normal;
        font-size: 48px;
        line-height: 44px;
        color: #F2EFE5;        
        align-items: center;
        letter-spacing: 0.3px;
        z-index: 0;
    }

    @media screen and (max-width: 700px) {
        .home1 {
            left: 15%;
}
      }
    
    .rollUp {
        width: 140px;
        height: 16px;
        font-family: neusa-next-std, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 16px;
        color: #342D29;
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px 19px;
    }

    .rollUp:hover {
        color: #342D29;
        text-decoration: underline;
    }
    
    .arrow {    
        position: static;
        /* bottom: 39.06%;        */
        flex: none;
        order: 1;
        flex-grow: 0;
        margin: 0px 19px;
    }
    
    .boldText {
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .thinText {
        font-weight: 400px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .secondary {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 16px 24px;
        position: absolute;
        width: 219px;
        height: 48px;
        background: #D4C0AB;
        border: none;
        border-radius: 4px;
    }
/* hero image end */


/* general text */
    h1 {
        font-family: diazo-mvb-ex-cond, sans-serif;
        font-size: 72px;
    }

    li {
        font-family: diazo-mvb-ex-cond, sans-serif;
    }

    li:hover {
        color: white;
    }
    
    li:active {
        text-decoration: underline;
        text-decoration-color:white;
    }

    .almostBlack {
        color: #342D29;
    }

    p {
        font-family: neusa-next-std, sans-serif;
    }

/* general text end */


/* main body */

    .taters {
        /* position: static; */
        z-index:-1;
    }

    .taterz {
        width: 100%;
        height: 400px;
        object-fit: cover;
        object-position: right;
    }


    .homeFlex {
display: inline-block;        

        position: static;
        justify-content: center;
        width: 40%;
        height: fit-content;
    }

    @media screen and (max-width: 900px) {
        .homeFlex {
        width: inherit;}
      }

    .columns {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        position: static;
        height: inherit;
    }

    @media screen and (max-width: 600px) {
        .columns {
            flex-direction: column;
            height: 100%;
}
      }

      @media screen and (max-width: 400px) {
        .columns {
            height:100%;
}
      }

    .left {
        /* display: flex; */
        /* flex-direction: column;
        align-items: flex-start; */
        padding: 0px;
        position: static;
        width: 45%;
        height: 180px;
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    @media screen and (max-width: 1150px) {
        .left {
            height:100%;
}
      }

      @media screen and (max-width: 600px) {
        .left {
            width:100%;
}
      }

    .right {
        /* display: flex;
        flex-direction: column;
        align-items: flex-start; */
        padding: 0px;
        position: static;
        width: 45%;
        height: 158px;
        flex: none;
        order: 1;
        flex-grow: 0;
        margin: 0px 30px;
    }

    @media screen and (max-width: 600px) {
        .right {
            width:100%;
            margin: 0;
}
      }

    .compostFacks {
        position: static;
        /* height: 132px; */
        left: 0px;
        right: 0px;
        top: 48px;
        font-family: neusa-next-std, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.3px;
        color: #737B7D;
        flex: none;
        order: 1;
        align-self: center;
        flex-grow: 0;
        margin: 16px 0px;
    }

    .compostFacks2 {
        position: static;
        /* height: 110px; */
        left: 0px;
        right: 0px;
        top: 48px;
        font-family: neusa-next-std, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.3px;
        color: #737B7D;
        flex: none;
        order: 1;
        align-self: center;
        flex-grow: 0;
        margin: 16px 0px;
    }

    .titleFlex {
        position: static;
        font-family: diazo-mvb-ex-cond, sans-serif;
        font-style: normal;
        font-size: 32px;
        letter-spacing: 0.1px;
        color: #342D29;
    }

    .titleFlex p {
        font-family: diazo-mvb-ex-cond;
        margin-bottom: 2%;
    }

/* end main body */


/* guide page */

    /* guide header */
        .guideNav {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            background-color: #D4C0AB;
        }

        @media screen and (max-width: 850px) {
            .guideNav {
                width: 100%;
        /* display: flex; */
        /* flex-direction: column; */
        justify-content: center;
        align-items: flex-start;
        background-color: #D4C0AB;
        flex-wrap: wrap;
        align-content: center;
                }
          }

        .blankSpace {
            order: 1;
            margin-top: 180px;
            background-color: #D4C0AB;
            height: 100%;
            width: 380px;
        }

        .compostingGuide {
            order: 2;
            margin-top: 100px;
            font-size: 36px;
            color: #342D29;
            background-color: #D4C0AB;
        }

        .compostingGuide h1 {
            font-weight: normal;

        }
            @media screen and (max-width: 850px) {
                .compostingGuide h1 {
                        text-align: center;
                    }
              }

    /* guide content */
        .content {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-content: flex-start;
            z-index: -2;
        }

        @media screen and (max-width: 850px) {
            .content {
                flex-direction: column;
  }
          }

        .content h1 {
            font-weight: normal;
            font-size: 36px;
            /* margin: 0; */
        }

        .content p {
            font-size: 16px;
            font-family: neusa-next-std, sans-serif;
        }

        .sideBar {
            /* width: 302px; */
            background-color: #D4C0AB;
            padding-left: 130px;
            padding-right: 5%;
            font-size: 16px;
            font-family: neusa-next-std, sans-serif;
            color: #342D29;
        }

        @media screen and (max-width: 850px) {
            .sideBar {
                width: inherit;
                padding: 5%;  
                display: flex;
                justify-content: center;

        }
          }

          @media screen and (max-width: 850px) {
            .sideBar p {
                padding: 10%;  
        }
          }

        .contentCopy {
            padding-left: 80px;
            padding-top: 20px;
            line-height: 22px;
        }

        @media screen and (max-width: 1100px) {
            .contentCopy {
                margin-right: 80px;
          }
        }

        .contentCopy h1 {
            margin-bottom: 1%;
        }

        .contentCopy p {
            color: #737B7D;

        }

        @media screen and (max-width: 1200px) {
            .dirtSide img {
                display: none;
        }
          }
        


    /* content copy */
        .digDiv {
            background-color: #342D29;
            padding: 20px;
            width: 80%;
            margin: 0 auto;
            margin-bottom: 5%;
        }

        .digDiv p {
            color: #F2EFE5;
            padding-top: 1%;
            padding-bottom: 1%;
        }

        .lightBox {
            color: #F2EFE5;
        }

        .lightBox p {
            color: #F2EFE5;
            font-weight: normal;
            padding: 4%;
        }

        .tanButton {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 16px 24px;
            height: 48px;
            background: #D4C0AB;
            border: none;
            border-radius: 4px;
            font-family: neusa-next-std, sans-serif;
            color: white;
            font-size: medium;
        }

        /* budget v investment */
        
        
        .compostTypes {
                display: flex;
                flex-direction: row;
                background-color: D4C0AB;
                height: 700px;
                justify-content: space-evenly;
                text-align: center;
                align-items: stretch;
            }

            @media screen and (max-width: 1100px) {
                .compostTypes {
                flex-direction: column;   
            height: fit-content; 
             margin: 0 auto;      
            row-gap: 25px ;  }
              }

            .leftBudget {
                width: 355px;
            }

            @media screen and (max-width: 1100px) {
                .leftBudget {
                width: auto;
                }
              }

            .rightBudget {
                width: 355px;
            }

            @media screen and (max-width: 1100px) {
                .rightBudget {
                width: auto;
                }
              }

            .compostTypes p {
                color: #342D29;
            }

            .heatComposting {
                display: flex;
                flex-direction: row;
                padding: 30px;
                background-color: #D4C0AB;
                gap: 10px;
                justify-content: center;

            }

            .wireContainment {
                display: flex;
                flex-direction: row;
                padding: 30px;
                background-color: #D4C0AB;
                gap: 10px;
                justify-content: center;
            }

            .tumblerMethod {
                display: flex;
                flex-direction: row;
                padding: 30px;
                background-color: #D4C0AB;
                gap: 10px;
                justify-content: center;
            }

            .wormComposting {
                display: flex;
                flex-direction: row;
                justify-content: center;
                padding: 30px;
                background-color: #D4C0AB;
                gap: 10px;
            }

            .trenchComposting {
                display: flex;
                flex-direction: row;
                padding: 30px;
                background-color: #D4C0AB;
                gap: 10px;
                justify-content: center;

            }

            .trashCan {
                display: flex;
                flex-direction: row;
                padding: 30px;
                background-color: #D4C0AB;
                gap: 10px;
                justify-content: center;
    
            }

            .whiteButton {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 16px 24px;
                background: white;
                border: none;
                border-radius: 4px;
                font-family: neusa-next-std, sans-serif;
                color:#342D29;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }

/* guide page end */

/* about page */
        .aboutCopy {
            flex-grow: 2;
        }

        .aboutFlex {
            display: flex;
            /* flex-direction: column; */
            align-items: flex-start;
            align-content: flex-start;
            justify-content: center;
            /* margin-left: 20px; */
            /* width: 80%; */
            line-height: 22px;
            text-align: center;
            margin-top: 40px;
            margin-bottom: 40px;
        }

        @media screen and (max-width: 850px) {
            .aboutFlex {
              flex-direction: column;
              justify-content: center;
              align-items: center;

            }
          }


        .aboutFlex img {
            padding-bottom: 5%;
        }

        .hero {
            width: 100%;
            height: 400px;
            object-fit: cover;
            object-position: right;
        }

        h3 {
            font-family: neusa-next-std, sans-serif;
            color: #BCAD9F;
            font-size: 20px;
            align-items: center;
        }

        .compostableItems {
            width: 33%;        
        }

        .homeCopy {
            text-align: center;
            margin-top: 6%;
            margin-right: 10%;
            margin-left: 10%;
            margin-bottom: 6%;
        }


        .play {
            width: 33%;        
        }

        .lowWaste {
            width: 33%;        
        }


        .digDiv2 {
            background-color: #342D29;
            padding: 20px;
            text-align: center;
            width: 627px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 40px;
        }

        @media screen and (max-width: 850px) {
            .digDiv2 {
                width: 80%  }
          }

        .tanButton2 {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 16px 24px;
            height: 48px;
            background: #D4C0AB;
            border: none;
            border-radius: 4px;
            font-family: neusa-next-std, sans-serif;
            color: white;
            display: block;
            margin-left: auto;
            margin-right: auto;
            font-size: medium;
        }


/* about page end */


@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
    font-size: 10px;
}


/* Media qurey section */

    @media screen and (min-width: 768px) and (max-width: 1024px) {
        .container {
            margin: 0;
        }
    }

    @media screen and (max-width:768px) {
        .navTrigger {
            display: block;
        }
        .nav div.logo {
            margin-left: 15px;
        }
        .nav div.main_list {
            width: 100%;
            height: 0;
            overflow: hidden;
        }
        .nav div.show_list {
            height: auto;
            display: none;
        }
        .nav div.main_list ul {
            flex-direction: column;
            width: 100%;
            height: 100vh;
            right: 0;
            left: 0;
            bottom: 0;
            background-color: #111;
            /*same background color of navbar*/
            background-position: center top;
        }
        .nav div.main_list ul li {
            width: 100%;
            text-align: right;
        }
        .nav div.main_list ul li a {
            text-align: center;
            width: 100%;
            font-size: 3rem;
            padding: 20px;
        }
        .nav div.media_button {
            display: block;
        }
    }


/* Animation */

.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    padding: 0;
    background-color: #111;
}

/* animation end */


.myH2 {
	text-align:center;
	font-size: 4rem;
}
.myP {
	text-align: justify;
	padding-left:15%;
	padding-right:15%;
	font-size: 20px;
}

@media all and (max-width:700px){
	.myP {
		padding:2%;
	}
}


/* footer? */

ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
  background: #F2EFE5;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #342D29;
}
.single-cta i {
  color: #342D29;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #342D29;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #342D29;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #342D29;
  line-height: 28px;
}
.footer-social-icon span {
  color: #342D29;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #342D29;
}
.twitter-bg{
  background: #342D29;
}
.google-bg{
  background: #342D29;
}
.footer-widget-heading h3 {
  color: #342D29;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #342D29;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
  font-size: 14px;
}
.footer-widget ul li a:hover{
  color: #737B7D;
}
.footer-widget ul li a {
  color: #342D29;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #fff;
  border: 1px solid #E7E8F2;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #BCAD9F;
    padding: 13px 20px;
    border: 1px solid #BCAD9F;
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #342D29;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #F2EFE5;
}
.copyright-text p a{
  color: #BCAD9F;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #BCAD9F;
}
.footer-menu li a {
  font-size: 14px;
  color: #F2EFE5;
}

.footer-section h3 {
    font-weight: normal;
    font-family: neusa-next-std, sans-serif;
}

.footer-section a {
    font-weight: normal;
    font-family: neusa-next-std, sans-serif;
    color: #342D29;
}

/* edit bootstrap */
.containerz {width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}@media (min-width:576px){.container{max-width:540px}}@media (min-width:768px){.container{max-width:720px}}@media (min-width:992px){.container{max-width:960px}}@media (min-width:1200px){.container{max-width:1140px}}